.newsletter-sender {
    
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "newsletter-sender__grid-status"
        "newsletter-sender__grid-emails"
        "newsletter-sender__grid-subject"
        "newsletter-sender__grid-content"
        "newsletter-sender__grid-btn";
    }

    &__grid-emails {
        grid-area: newsletter-sender__grid-emails;
        margin-bottom: 2rem;

        label {
            font-size: 1.6rem;
            margin-right: 1rem;
        }
    }

    &__grid-subject {
        grid-area: newsletter-sender__grid-subject;
        margin-bottom: 2rem;

        label {
            font-size: 1.6rem;
            display: block;
            margin-bottom: 1rem;
        }

        input {
            width: 80%;
            padding: 1rem;
            font-size: 1.6rem;
        }
    }

    &__grid-content {
        grid-area: newsletter-sender__grid-content;
        margin-bottom: 2rem;

        label {
            font-size: 1.6rem;
            display: block;
            margin-bottom: 1rem;
        }

        textarea {
            width: 90%;
            min-height: 20em;
            padding: 1rem;
            font-size: 1.6rem;
        }
    }

    &__grid-btn {
        grid-area: newsletter-sender__grid-btn;
        margin-bottom: 2rem;
    }

    &__grid-status {
        grid-area: newsletter-sender__grid-status;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
}