.user-data {

    table {
        border-collapse: collapse;
    }

    
    &__container {
        margin-top: 5rem;
    }
    
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'user-data__grid-title user-data__grid-title'
        'user-data__grid-email user-data__grid-roles'
        'user-data__grid-psw user-data__grid-psw'
        'user-data__grid-submit user-data__grid-submit';

        @include respond('sm') {
            grid-template-columns: 1fr;
            grid-template-areas: 
            'user-data__grid-title'
            'user-data__grid-email'
            'user-data__grid-roles'
            'user-data__grid-psw'
            'user-data__grid-submit';
        }
    }

    &__grid-title {
        grid-area: user-data__grid-title;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__grid-title {
        font-size: 3rem;
    }

    &__grid-email {
        grid-area: user-data__grid-email;
        margin-bottom: 2rem;
    }

    &__grid-roles {
        grid-area: user-data__grid-roles;
        margin-bottom: 2rem;
    }

    &__grid-select {
        font-size: 1.5rem;
        padding: .5rem;
    }

    &__grid-psw {
        grid-area: user-data__grid-psw;
        margin-bottom: 2rem;
    }

    &__grid-password {
        margin-bottom: 1rem;
    }

    &__grid-submit {
        grid-area: user-data__grid-submit;
    }
}