{% extends 'base.html.twig' %}

{% block index %}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block title %}
    <title>User Registration</title>
{% endblock %}

{% block body %}
    <h2>User Registration</h2>
    <br>
    {{ form(regform) }}
{% endblock %}
