{% extends "base.html.twig" %}

{% block title %}
    <title>Marco Valeri Contatti Conferma</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="Pagina di ringraziamento e di conferma di aver contattato Marco Valeri e il suo staff dopo aver compilato l'apposito form nella pagina dedicata ai contatti" >
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://www.marcovaleri.net/page/contatti-conferma">
{% endblock %}

{% block body %}
    <h2 class="contact-grid__title-main">Grazie per avermi contattato</h2>
    <p class="contact-grid__title-sub">
        Leggerò il tuo messaggio appena possibile.
    </p>
{% endblock %}