{% extends "base.html.twig" %}

{% block canonical %}
    <link rel="canonical" href="https://www.marcovaleri.net/page/newsletter-confirm">
{% endblock %}

{% block body %}
    <div class="content__title">
        <h2>Grazie per esserti iscritto alla mia newsletter</h2>
    </div>
    <div class="content__main">
        <p>
            Le newsletter è mensile ma può capitare di inviare una email extra quando ho qualche novità da condividere con i miei lettori.
            <br>
            Ci aggiorniamo presto via email.
        </p>
    </div>
{% endblock %}