{% extends "base.html.twig" %}

{% block page_title %}
    Admin User Menu
{% endblock %}

{% block body %}
    <div class="content__title">
        Users List
    </div>
    <div class="user content__main">
        <table class="user__table">
            <tr>
                <th class="user__table-head p">Id</th>
                <th class="user__table-head p">Email</th>
                <th class="user__table-head p">Roles</th>
                <th class="user__table-head p">Edit</th>
            </tr>
            {% if (users) %}
                {% for user in users %}
                    <tr>
                        <td class="user__table-item p">{{ user.id }}</td>
                        <td class="user__table-item p">{{ user.email }}</td>
                        <td class="user__table-item p">
                            {% for role in user.getRoles %}
                                {{ role }}<br>
                            {% endfor %}
                        </td>
                        <td class="user__table-item p">
                            <a href="{{ path('app_admin_user', {id: user.id }) }}">
                                <button class="button">Edit</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}