.search-input {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    border: 1px solid $black;
    border-radius: 15px;

    &__title {
        margin-bottom: 2rem;
    }

    input[type=text] {
        display: block;
        font-size: 1.8rem;
        padding: .8rem;
        margin: 0 auto 2rem auto;
        border-radius: 4px;
    }

    input[type=submit] {
        font-size: 1.6rem;
        text-decoration: none;
        color: #fff;
        background-color: #000;
        padding: 1rem 2rem;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            color: $black;
            background-color: $white;
            transform: translate(0, -2px);
            box-shadow: 5px 5px 3px rgb(112, 112, 112);
        }
    }
}