// Paragraph
.p {
    font-size: 2.2rem;
}

.p--bold {
    font-weight: 900;
}

.rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, #cccc2c, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

// Links
.no-link {
    text-decoration: none;
    color: #000;

    &:hover {
        text-decoration: none;
    }
}

.link {
    color: #296eb4;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// Fonts
.font-tangerine {
    font-family: 'Tangerine', cursive;
}

// Button
.button {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    cursor: pointer;

    &:hover {
        color: #000;
        background-color: #fff;
        transform: translate(0, -2px);
        box-shadow: 5px 5px 3px rgb(112, 112, 112);
    }
}

// List no stye for ul and ol
.list-no-style {
    list-style-type: none;
}

// Errors
.error {
    font-size: 1.8rem;
    color: #f00;
}