// Links
.no-link {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

// Button
.button {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    cursor: pointer;

    &:hover {
        color: #000;
        background-color: #fff;
        transform: translate(0, -2px);
        box-shadow: 5px 5px 3px rgb(112, 112, 112);
    }
}