.main {
    width: 80%;
    margin: 3rem auto 3rem auto;
    display: grid;
    grid-template-columns: 1fr .40fr;
    grid-template-areas:
    "content sidebar";
}

.content {
    grid-area: content;
    padding: 3rem;

    &__image {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    &__image-picture {
        width: 80%;
        display: block;
        margin: auto;
    }
    
    &__title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    
    &__data {
        margin-bottom: 2rem;
    }
    
    &__data-item {
        color: $black;
        font-size: 1.6rem;
        font-weight: 900;
        margin-bottom: .5rem;
    }
    
    &__index {
        padding: 3rem;
        margin: 4rem 0;
        border-radius: 5px;
        border: 1px solid $grey-light;
    
        &:hover {
            border: 1px solid $blue-link;
        }
    }
    
    &__index-item {
        padding: .5rem;
    }
    
    // Gender
    &__gender-banner {
        text-align: center;
        padding: 2rem;
        margin-bottom: 2rem;
        border: 1px solid $grey-light;
    }
    
    &__gender-item {
        display: inline-block;
        padding: 1rem;
    }
    
    &__gender-icon {
        width: 5rem;
        cursor: pointer;
    }
    
    &__gender-icon--active {
        background-color: $green-active;
        border-radius: 50px;
    }
    
    &__main {
        margin-bottom: 5rem;
    }
    
    &__main--female {
        display: none;
    }
    
    &__main--non-binary {
        display: none;
    }
    
    // Content
    &__main h2 {
        font-size: 3.2rem;
    }
    
    &__main h3 {
        font-size: 2.8rem;
    }
    
    &__main p {
        font-size: 2.2rem;
        line-height: 1.6;
    }
    
    &__main li {
        font-size: 2.2rem;
        line-height: 1.6;
    }
    
    &__main li {
        margin-left: 5rem;
    }

    // Form
    &__section-form {
        padding: 1rem;
        margin: 5rem auto;
        border: 1px solid $black;
        border-radius: 4px;
    }

    &__container-comments-success {
        margin: 2rem auto;
        border-top: 1px solid $green-form;
        border-bottom: 1px solid $green-form;
    }

    &__success-message {
        padding: 2rem 0;
        color: $green-form;
        font-weight: 900;
    }

    &__form-header {
        margin-bottom: 2rem;
    }

    &__form-grid {
        display: grid;
        row-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "content__container-form-name content__container-form-email"
        "content__container-form-content content__container-form-content"
        "content__container-form-privacy content__container-form-privacy"
        "content__container-form-submit content__container-form-submit";

        @include respond("sm") {
            grid-template-columns: 1fr;
            grid-template-areas:
            "content__container-form-name"
            "content__container-form-email"
            "content__container-form-content"
            "content__container-form-privacy"
            "content__container-form-submit";
        }
    }

    &__container-form-name {
        grid-area: content__container-form-name;
    }

    &__input-text {
        width: 80%;

        @include respond("sm") {
            width: 90%;
        }
    }

    &__input-email {
        margin-bottom: 1rem;
    }

    &__container-form-email {
        grid-area: content__container-form-email;
    }

    &__container-form-content {
        grid-area: content__container-form-content;
    }

    &__input-textarea {
        width: 90%;
    }

    &__container-form-privacy {
        grid-area: content__container-form-privacy;
    }

    &__label-privacy {
        cursor: pointer;
    }

    &__container-form-submit {
        grid-area: content__container-form-submit;
    }

    &__form-btn {
        margin-bottom: 2rem;
    }

    &__form-error {
        margin-top: 2rem;

        ul {
            list-style: none;
        }

        li {
            color: $red-error;
        }
    }

    // Comments Section
    &__comments-header {
        margin-bottom: 2rem;
    }
}

// Sidebar
.sidebar {
    grid-area: sidebar;
    padding: 1.5rem;
    text-align: center;

    &__item {
        margin-bottom: 2rem;
    }

    &__item-title {
        padding: 2rem 0;
        font-size: 2rem;
        color: #fff;
        background-color: #000;
    }

    &__item-content {
        padding: 1rem;
        font-size: 1.8rem;
        text-align: left;
        line-height: 1.6;
        margin-bottom: 1rem;
    }

    &__container-social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 3rem 0;
    }

    &__social-link {}

    &__social-icon {
        width: 50px;
        height: 50px;
    }

}

/*
* Media Queries
* max-width: 1024px
*/
@media (max-width: 1024px) {

    .main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "content"
        "sidebar";
    }

}

/*
* Media Queries
* max-width: 767px
*/
@media (max-width: 767px) {

    .main {
        width: 95%;
        margin: 1.5rem auto 1.5rem auto;
    }

    .content {
        padding: 1.5rem;
    }

    .content__title {
        font-size: 2rem;
    }

    .content__main li {
        margin-left: 3.5rem;
    }

}