/**
* Create a mixin that works for
* media queries in the following breakpoints:
*           xs
*           sm
*           m
*           l
*           xl
*           xxl
*
* This project follow the logic of responsive-design
*/
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/**
* Google Font
* Name: Tangerine
* font-family: 'Tangerine', cursive;
*/
/**
* Google Font
* Name: Cinzel Decorative
* font-family: 'Cinzel Decorative', cursive;
*/
/**
* Google Font
* Name:Arizonia
* font-family: 'Arizonia', cursive;
*/
.button {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  text-decoration: none;
}
.button__black {
  color: #fff;
  background-color: #000;
}
.button__black:hover {
  color: #000;
  background-color: #fff;
  transform: translate(0, -2px);
  box-shadow: 5px 5px 3px rgb(112, 112, 112);
}
.button__white {
  color: #000;
  background-color: #fff;
}
.button__white:hover {
  color: #fff;
  background-color: #000;
  transform: translate(0, -2px);
  border: 1px solid #fff;
}

.h1 {
  font-size: 3.5rem;
}

.h2 {
  font-size: 3rem;
}

.h3 {
  font-size: 2.8rem;
}

.h4 {
  font-size: 2.5rem;
}

.body-1 {
  font-size: 2.2rem;
}

.body-2 {
  font-size: 2rem;
}

.body-3 {
  font-size: 1.8rem;
}

.body-4 {
  font-size: 1.6rem;
}

.p {
  font-size: 2.2rem;
}

.p--bold {
  font-weight: 900;
}

.rainbow {
  background-image: linear-gradient(to left, violet, indigo, blue, green, #cccc2c, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}

.no-link {
  text-decoration: none;
  color: #000;
}
.no-link:hover {
  text-decoration: none;
}

.no-link--white {
  text-decoration: none;
  color: #fff;
}
.no-link--white:hover {
  text-decoration: none;
  border: 1px solid #000;
}

.link {
  color: #296eb4;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.input-text {
  font-size: 1.8rem;
  padding: 0.8rem;
  border-radius: 4px;
}

.input-checkbox {
  cursor: pointer;
}

.input-textarea {
  height: auto;
  min-height: 15rem;
  font-size: 1.8rem;
  padding: 0.8rem;
}

.font-tangerine {
  font-family: "Tangerine", cursive;
}

.list-no-style {
  list-style-type: none;
}

.error {
  font-size: 1.8rem;
  color: #f00;
}

.box-shadow-black {
  box-shadow: 0 0 50px 0 #000;
}

.box-shadow-green {
  box-shadow: 0 0 50px 0 #2A918B;
}

.box-shadow-blue {
  box-shadow: 0 0 50px 0 #009AE4;
}

.box-shadow-red {
  box-shadow: 0 0 50px 0 #E6553F;
}

.box-shadow-yellow {
  box-shadow: 0 0 50px 0 #EAAB00;
}

.banner-author {
  overflow: hidden;
  margin: 5rem auto;
  border: 1px solid #000;
  border-radius: 8px;
}
.banner-author__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
}
@media only screen and (max-width: 991px) {
  .banner-author__wrapper {
    flex-direction: column;
  }
}
.banner-author__container-image {
  height: 100%;
  margin-right: 2rem;
}
@media only screen and (max-width: 991px) {
  .banner-author__container-image {
    width: 80%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.banner-author__image {
  width: 20rem;
  height: 20rem;
  border-radius: 8px;
}
@media only screen and (max-width: 991px) {
  .banner-author__image {
    width: 100%;
  }
}
.banner-author__title {
  margin-bottom: 1rem;
}

.banner-preview {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 8px;
}
.banner-preview__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.banner-preview__container-image {
  width: 100%;
  height: 20rem;
}
.banner-preview__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-preview__container-title {
  padding: 1rem;
}
.banner-preview__container-description {
  padding: 1rem;
}
.banner-preview__container-button {
  padding: 1rem;
}

.comment-card {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid hsl(0, 5%, 62%);
  border-radius: 4px;
}
.comment-card__wrapper {
  display: flex;
  flex-direction: column;
}
.comment-card__container-name {
  margin-bottom: 1rem;
}
.comment-card__container-date {
  margin-bottom: 1rem;
}
.comment-card__container-comment {
  margin-bottom: 1rem;
}

.newsletter-banner {
  margin: 3rem auto;
  border: 1px solid #000;
  border-radius: 15px;
}
.newsletter-banner__wrapper {
  text-align: center;
  padding: 2rem;
}
.newsletter-banner__last-p {
  margin-bottom: 2rem;
}
.newsletter-banner__container-form {
  display: none;
}

.search-input {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  border: 1px solid #000;
  border-radius: 15px;
}
.search-input__title {
  margin-bottom: 2rem;
}
.search-input input[type=text] {
  display: block;
  font-size: 1.8rem;
  padding: 0.8rem;
  margin: 0 auto 2rem auto;
  border-radius: 4px;
}
.search-input input[type=submit] {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.search-input input[type=submit]:hover {
  color: #000;
  background-color: #fff;
  transform: translate(0, -2px);
  box-shadow: 5px 5px 3px rgb(112, 112, 112);
}

.articles-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.articles-list__container-description {
  width: 100%;
  padding: 2rem;
  margin: 4rem auto;
  border: 1px solid #000;
  border-radius: 15px;
}
.articles-list__container-description--esperienze {
  border: 1px solid #2A918B;
}
.articles-list__container-description--opportunita {
  border: 1px solid #009AE4;
}
.articles-list__container-description--vivere-all-estero {
  border: 1px solid #E6553F;
}
.articles-list__container-description--scrivere {
  border: 1px solid #EAAB00;
}
.articles-list__container-description--page {
  border: 1px solid #EAAB00;
}
.articles-list__title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 380px) {
  .articles-list__title {
    font-size: 2.5rem;
  }
}
.articles-list__description {
  margin-bottom: 1rem;
}
.articles-list__container {
  margin-bottom: 5rem;
}
.articles-list__article {
  width: 90%;
  display: flex;
  margin: auto;
  padding: 0.5rem;
  transition: all 0.5s;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
}
.articles-list__article:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 767px) {
  .articles-list__article {
    flex-direction: column;
  }
}
.articles-list__container-image {
  min-width: 15rem;
  min-height: 15rem;
}
.articles-list__article-image {
  width: 15rem;
  height: 15rem;
  border-radius: 8px;
}
@media only screen and (max-width: 767px) {
  .articles-list__article-image {
    width: 100%;
    height: auto;
    max-height: 40rem;
  }
}
.articles-list__content-container {
  width: 60rem;
  padding: 0 1rem 1rem 1rem;
}
@media only screen and (max-width: 1499px) {
  .articles-list__content-container {
    width: 40rem;
  }
}
@media only screen and (max-width: 1199px) {
  .articles-list__content-container {
    width: 30rem;
  }
}
@media only screen and (max-width: 767px) {
  .articles-list__content-container {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 0.5rem 0 0.5rem;
  }
}
.articles-list__article-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.articles-list__article-paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
}
.articles-list__container-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 575px) {
  .articles-list__container-btn {
    flex-direction: column;
  }
}
.articles-list__container-btn-prev {
  margin-bottom: 2rem;
}

.main {
  width: 80%;
  margin: 3rem auto 3rem auto;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-areas: "content sidebar";
}

.content {
  grid-area: content;
  padding: 3rem;
}
.content__image {
  width: 100%;
  margin-bottom: 1.5rem;
}
.content__image-picture {
  width: 80%;
  display: block;
  margin: auto;
}
.content__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.content__data {
  margin-bottom: 2rem;
}
.content__data-item {
  color: #000;
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.content__index {
  padding: 3rem;
  margin: 4rem 0;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
}
.content__index:hover {
  border: 1px solid #296eb4;
}
.content__index-item {
  padding: 0.5rem;
}
.content__gender-banner {
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #e9e9e9;
}
.content__gender-item {
  display: inline-block;
  padding: 1rem;
}
.content__gender-icon {
  width: 5rem;
  cursor: pointer;
}
.content__gender-icon--active {
  background-color: #96d296;
  border-radius: 50px;
}
.content__main {
  margin-bottom: 5rem;
}
.content__main--female {
  display: none;
}
.content__main--non-binary {
  display: none;
}
.content__main h2 {
  font-size: 3.2rem;
}
.content__main h3 {
  font-size: 2.8rem;
}
.content__main p {
  font-size: 2.2rem;
  line-height: 1.6;
}
.content__main li {
  font-size: 2.2rem;
  line-height: 1.6;
}
.content__main li {
  margin-left: 5rem;
}
.content__section-form {
  padding: 1rem;
  margin: 5rem auto;
  border: 1px solid #000;
  border-radius: 4px;
}
.content__container-comments-success {
  margin: 2rem auto;
  border-top: 1px solid #00aa67;
  border-bottom: 1px solid #00aa67;
}
.content__success-message {
  padding: 2rem 0;
  color: #00aa67;
  font-weight: 900;
}
.content__form-header {
  margin-bottom: 2rem;
}
.content__form-grid {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "content__container-form-name content__container-form-email" "content__container-form-content content__container-form-content" "content__container-form-privacy content__container-form-privacy" "content__container-form-submit content__container-form-submit";
}
@media only screen and (max-width: 575px) {
  .content__form-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "content__container-form-name" "content__container-form-email" "content__container-form-content" "content__container-form-privacy" "content__container-form-submit";
  }
}
.content__container-form-name {
  grid-area: content__container-form-name;
}
.content__input-text {
  width: 80%;
}
@media only screen and (max-width: 575px) {
  .content__input-text {
    width: 90%;
  }
}
.content__input-email {
  margin-bottom: 1rem;
}
.content__container-form-email {
  grid-area: content__container-form-email;
}
.content__container-form-content {
  grid-area: content__container-form-content;
}
.content__input-textarea {
  width: 90%;
}
.content__container-form-privacy {
  grid-area: content__container-form-privacy;
}
.content__label-privacy {
  cursor: pointer;
}
.content__container-form-submit {
  grid-area: content__container-form-submit;
}
.content__form-btn {
  margin-bottom: 2rem;
}
.content__form-error {
  margin-top: 2rem;
}
.content__form-error ul {
  list-style: none;
}
.content__form-error li {
  color: #d00;
}
.content__comments-header {
  margin-bottom: 2rem;
}

.sidebar {
  grid-area: sidebar;
  padding: 1.5rem;
  text-align: center;
}
.sidebar__item-title {
  padding: 2rem 0;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.sidebar__item-content {
  padding: 1rem;
  font-size: 1.8rem;
  text-align: left;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.sidebar__container-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 0;
}
.sidebar__social-icon {
  width: 50px;
  height: 50px;
}

/*
* Media Queries
* max-width: 1024px
*/
@media (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas: "content" "sidebar";
  }
}
/*
* Media Queries
* max-width: 767px
*/
@media (max-width: 767px) {
  .main {
    width: 95%;
    margin: 1.5rem auto 1.5rem auto;
  }
  .content {
    padding: 1.5rem;
  }
  .content__title {
    font-size: 2rem;
  }
  .content__main li {
    margin-left: 3.5rem;
  }
}
.footer {
  position: relative;
  height: 30vh;
  background-color: #000;
}

.footer__content {
  position: absolute;
  width: 80%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer__content-main {
  color: #fff;
  font-size: 2rem;
}

.heart {
  font-size: 3.5rem;
  color: #ff0000;
}

/*
* Media Queries
* max-width: 767px
*/
@media (max-width: 767px) {
  .footer__content {
    top: 50%;
  }
  .footer__content-main {
    line-height: 1.6;
  }
}
/*
* Media Queries
* max-width: 480px
*/
@media (max-width: 480px) {
  .footer__content-main {
    font-size: 1.5rem;
  }
}
.header {
  height: 50vh;
  min-height: 40rem;
  background-color: #000;
}
.header__hero {
  width: 30%;
  margin: 6rem auto 0rem auto;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}
@media only screen and (max-width: 1499px) {
  .header__hero {
    width: 40%;
  }
}
@media only screen and (max-width: 1199px) {
  .header__hero {
    width: 50%;
  }
}
@media only screen and (max-width: 991px) {
  .header__hero {
    width: 60%;
  }
}
@media only screen and (max-width: 767px) {
  .header__hero {
    width: 90%;
  }
}
@media only screen and (max-width: 380px) {
  .header__hero {
    margin: 3rem auto 0rem auto;
  }
}
.header__container {
  padding: 3rem;
  text-align: center;
}
.header__title {
  font-size: 8rem;
}
@media only screen and (max-width: 575px) {
  .header__title {
    font-size: 6rem;
  }
}

.navbar {
  position: relative;
  padding: 3rem;
  border-bottom: 1px solid #fff;
}
@media only screen and (max-width: 1199px) {
  .navbar {
    border-bottom: none;
  }
}

.navbar__input,
.navbar__span {
  display: none;
  cursor: pointer;
}

.navbar__menu {
  text-align: right;
}

.navbar__logo {
  position: absolute;
  left: 5%;
  top: 0;
}

.brand-name {
  font-size: 4rem;
  color: #fff;
}

.navbar__element {
  display: inline;
  font-size: 2rem;
  padding: 1.5rem;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
}

.navbar__link:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 15%;
}

.navbar__element--mark .navbar__link {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 15%;
}

/*
* Media Queries
* max-width: 1250px
*/
@media (max-width: 1250px) {
  .navbar__toggle {
    display: block;
    position: relative;
    top: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  .navbar__toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .navbar__toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 1px);
  }
  .navbar__input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  input:checked ~ ul {
    transform: none;
  }
  .navbar__span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .navbar__span:first-child {
    transform-origin: 0% 0%;
  }
  .navbar__span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .navbar__menu {
    position: absolute;
    width: 90%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    text-align: center;
    background: #000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .navbar__menu .navbar__element {
    font-size: 2rem;
    padding: 10px 0;
    display: block;
  }
  .navbar__menu a:hover {
    text-decoration: none;
  }
  .navbar__logo {
    position: relative;
    top: 0;
    left: 0;
  }
}
/*
* Media Queries
* max-width: 480px
*/
@media (max-width: 480px) {
  .brand-name {
    font-size: 3rem;
  }
}
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "contact-grid__title contact-grid__title" "contact-grid__name contact-grid__surname" "contact-grid__email contact-grid__email" "contact-grid__message contact-grid__message" "contact-grid__submit contact-grid__submit";
  border: 1px solid #000;
}

.contact-grid__title {
  grid-area: contact-grid__title;
  margin: 1.5rem;
  padding: 1.5rem;
  text-align: center;
}

/* This doesn't respect BEM Methodology and
doesn't render well the error message, need to improve it */
.contact-grid__input ul li {
  list-style: none;
  color: #ff0000;
  margin-bottom: 0.8rem;
}

.contact-grid__title-main {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.contact-grid__title-sub {
  font-size: 2rem;
}

.contact-grid__name {
  grid-area: contact-grid__name;
}

.contact-grid__surname {
  grid-area: contact-grid__surname;
}

.contact-grid__email {
  grid-area: contact-grid__email;
}

.contact-grid__message {
  grid-area: contact-grid__message;
}

.contact-grid__submit {
  grid-area: contact-grid__submit;
}

.contact-grid__input {
  margin: 1.2rem;
  padding: 1.2rem;
}

.contact-grid label,
.contact-grid input {
  display: block;
}

.contact-grid label {
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}

.contact-grid input {
  font-size: 1.8rem;
  padding: 0.8rem;
}

.contact-grid textarea {
  width: 100%;
  height: auto;
  min-height: 15rem;
  font-size: 1.8rem;
  padding: 0.8rem;
}

.contact-grid button {
  font-size: 1.8rem;
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 5px;
}

.contact-grid button:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 5px 5px 3px rgb(112, 112, 112);
}

/*
* Media Queries
* max-width: 767px
*/
@media (max-width: 767px) {
  .contact-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "contact-grid__title" "contact-grid__name" "contact-grid__surname" "contact-grid__email" "contact-grid__message" "contact-grid__submit";
  }
  .contact-grid__submit {
    text-align: center;
  }
  .contact-grid textarea {
    width: 90%;
  }
}
/*
* Media Queries
* max-width: 480px
*/
@media (max-width: 480px) {
  .contact-grid__title {
    margin: 0.8rem;
    padding: 0.8rem;
    text-align: center;
  }
  .contact-grid__title-main {
    font-size: 1.8rem;
  }
  .contact-grid__title-sub {
    font-size: 1.8rem;
  }
  .contact-grid__input {
    margin: 0.8rem;
    padding: 0.8rem;
  }
  .contact-grid label {
    font-size: 1.2rem;
  }
  .contact-grid input {
    font-size: 1.2rem;
  }
  .contact-grid textarea {
    font-size: 1.2rem;
  }
  .contact-grid button {
    font-size: 1.2rem;
  }
}
.error404__content-container {
  text-align: center;
  margin-bottom: 2rem;
}
.error404__content {
  margin-bottom: 1rem;
}
.error404__container-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.error404__btn {
  margin-bottom: 2rem;
}

.home__container-title {
  text-align: center;
  margin-bottom: 5rem;
}
.home__title {
  font-size: 5rem;
}
.home__container-categories {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 991px) {
  .home__container-categories {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}
.home__container-single-category {
  width: 45%;
  height: 40rem;
  border-radius: 15px;
}
@media only screen and (max-width: 991px) {
  .home__container-single-category {
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
}
.home__container-serach {
  margin: 10rem auto;
}

/*# sourceMappingURL=main.css.map */
