// Colors
$black: #000;
$blue-link: #296eb4;
$blue-opportunita: #009AE4;
$green-active: #96d296;
$green-esperienze: #2A918B;
$green-form: #00aa67;
$grey-light: #e9e9e9;
$grey-font: hsl(0, 5%, 62%);
$white: #fff;
$red-error: #d00;
$red-vivere-all-estero: #E6553F;
$yellow-page: #EAAB00;