.cookie-banner {
    display: block;
    position: absolute;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 90%;
    height: auto;
    min-height: 20rem;
    z-index: 1;
    padding: 2rem;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.cookie-banner__content {
    font-size: 2.4rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.cookie-btn {
    font-size: 2.4rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    margin: 2rem;
    border: 1px solid #fff;
}

.cookie-btn:hover {
    color: #fff;
    background-color: #000;
}

.cookie-btn--link {
    text-decoration: none;
    color: #000;
}