.articles-list__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.articles-list__title {
    width: 100%;
    font-size: 4rem;
    text-align: center;
    margin: 4rem auto;
}

.articles-list__article-link {
    text-decoration: none;
    color: #000;
}

.articles-list__article {
    width: 40rem;
    margin: 1.5rem;
    padding: .5rem;
    border: 1px solid #000;
    transition: all .5s;

    &:hover {
        transform: scale(1.1);
    }
}

.articles-list__article-image {
    width: 100%;
}

.articles-list__article-title {
    font-size: 2.5rem;
}

.articles-list__article-paragraph {
    font-size: 1.8rem;
    margin: 1.5rem auto;
}

/*
* Media Queries
* max-width: 767px
*/
@media (max-width: 767px) {

    .articles-list__article {
        width: 80%;
        margin: 2rem auto;
    }

}

/*
* Media Queries
* max-width: 480px
*/
@media (max-width: 480px) {

    .articles-list__article {
        width: 90%;
    }

}