.main {
    width: 80%;
    margin: 2rem auto 2rem auto;
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    grid-template-areas:
    "content sidebar";
}

.content {
    grid-area: content;
    padding: 2rem;
}

.content__title {
    font-size: 2rem;
}

.content__main {
    line-height: 1.6;
    font-size: 1.2rem;
}

.sidebar {
    grid-area: sidebar;
    padding: 1rem;
}

/*
* Media Queries
* max-width: 1024px
*/
@media (max-width: 1024px) {

    .main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "content"
        "sidebar";
    }

}

/*
* Media Queries
* max-width: 767px
*/
@media (max-width: 767px) {

    .main {
        width: 100%;
        margin: 1rem auto 1rem auto;
    }

    .content {
        padding: 1rem;
    }

}