.main {
    width: 80%;
    margin: 3rem auto 3rem auto;
    display: grid;
    grid-template-columns: 1fr .40fr;
    grid-template-areas:
    "content sidebar";
}

.content {
    grid-area: content;
    padding: 3rem;
}

.content__image {
    width: 100%;
    margin-bottom: 1.5rem;
}
.content__image-picture {
    width: 80%;
    display: block;
    margin: auto;
}

.content__title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.content__main h2 {
    font-size: 3.2rem;
}

.content__main h3 {
    font-size: 2.8rem;
}

.content__main p {
    font-size: 2.2rem;
    line-height: 1.6;
}

.content__main li {
    font-size: 2.2rem;
    line-height: 1.6;
}

.content__main li {
    margin-left: 5rem;
}

.sidebar {
    grid-area: sidebar;
    padding: 1.5rem;
    text-align: center;

    &__item {
        margin-bottom: 2.5rem;
    }
}

/*
* Media Queries
* max-width: 1024px
*/
@media (max-width: 1024px) {

    .main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "content"
        "sidebar";
    }

}

/*
* Media Queries
* max-width: 767px
*/
@media (max-width: 767px) {

    .main {
        width: 95%;
        margin: 1.5rem auto 1.5rem auto;
    }

    .content {
        padding: 1.5rem;
    }

    .content__title {
        font-size: 2rem;
    }

    .content__main li {
        margin-left: 3.5rem;
    }

}