.error404 {
    
    &__content-container {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__content {
        margin-bottom: 1rem;
    }

    &__container-btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    &__btn {
        margin-bottom: 2rem;
    }

}