.header {
    height: 50vh;
    border: 1px solid #000;

    background-image: url('https://marcovaleri.net/images/parco-nazionale-valle-della-morte-usa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__hero {
    width: 30%;
    margin: 5rem auto 0rem auto;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.header__container {
    text-align: center;
}

.header__title {
    font-size: 3rem;
    margin: 2rem;
    padding: 2rem;
}

/*
* Media Queries
* max-width: 767px
*/
@media (max-width: 767px) {

    .header__hero {
        width: 80%;
    }

}

/*
* Media Queries
* max-width: 480px
*/
@media (max-width: 480px) {

    .header {
        height: 80vh;
    }

}