{% extends "base.html.twig" %}

{% block title %}
    <title>Marco Valeri Cookie policy</title>
{% endblock %}

{% block index %}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
    {# <a href="https://www.iubenda.com/privacy-policy/72688544" class="iubenda-white no-brand iubenda-noiframe iubenda-embed iubenda-noiframe iub-body-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> #}
    <script id="CookieDeclaration" src="https://consent.cookiebot.com/4b120a0a-4508-4f16-ac83-f0ecefe1e60b/cd.js" type="text/javascript" async></script>
{% endblock %}