{% extends "base.html.twig" %}

{% block title %}
    <title>Marco Valeri Cookie policy</title>
{% endblock %}

{% block index %}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
    <section class="cookie-policy">
        <script id="CookieDeclaration" src="https://consent.cookiebot.com/4b120a0a-4508-4f16-ac83-f0ecefe1e60b/cd.js" type="text/javascript" async></script>
    </section>
{% endblock %}