.home {
    
    &__container-title {
        text-align: center;
        margin-bottom: 5rem;
    }

    &__title {
        font-size: 5rem;
    }

    &__container-categories {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5rem;

        @include respond("l") {
            flex-wrap: wrap;
            margin-bottom: 0;
        }
    }

    &__container-single-category {
        width: 45%;
        height: 40rem;

        @include respond("l") {
            width: 100%;
            height: auto;
            margin-bottom: 5rem;
        }
    }

    &__container-serach {
        margin: 10rem auto;
    }

}