.home {
    &__container-categories {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        border: 1px solid #d00;
    }

    &__container-single-category {
        width: 45%;
    }

    &__articles {
    margin-top: 6rem;
    }
}