.newsletter {
    &__content {
        margin-bottom: 5rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "newsletter__grid-input-name newsletter__grid-input-email newsletter__grid-input-submit"
        "newsletter__grid-empty-element newsletter__grid-empty-element newsletter__grid-input-privacy";

        @include respond('l') {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "newsletter__grid-input-name newsletter__grid-input-email"
            "newsletter__grid-input-privacy newsletter__grid-input-submit"
            "newsletter__grid-empty-element newsletter__grid-empty-element";
        }

        @include respond('sm') {
            margin: auto;
            grid-template-columns: 1fr;
            grid-template-areas:
            "newsletter__grid-input-name"
            "newsletter__grid-input-email"
            "newsletter__grid-input-privacy"
            "newsletter__grid-input-submit"
            "newsletter__grid-empty-element";
        }
    }

    &__grid-input-name {
        grid-area: newsletter__grid-input-name;

        @include respond('l') {
            margin-bottom: 2rem;
        }
    }

    &__input-name {
        font-size: 1.6rem;
        padding: 1rem .5rem;
        border-radius: 5px;
    }

    &__grid-input-email {
        grid-area: newsletter__grid-input-email;

        @include respond('l') {
            margin-bottom: 2rem;
        }
    }

    &__input-email {
        font-size: 1.6rem;
        padding: 1rem .5rem;
        border-radius: 5px;
    }

    &__grid-input-privacy {
        grid-area: newsletter__grid-input-privacy;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        label {
            font-size: 1.6rem;
        }

        &:hover input ~ .newsletter__checkmark {
            background-color: #ccc;
        }

        input:checked ~ .newsletter__checkmark {
            background-color: #000;
        }

        input:checked ~ .newsletter__checkmark:after {
            display: block;
        }
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;

        &::after {
            content: "";
            position: absolute;
            display: none;

            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &__grid-input-submit {
        grid-area: newsletter__grid-input-submit;
    }

    &__input-btn {
        color: #fff;
        background-color: #000;

        &:hover {
            color: #000;
            background-color: #fff;
            transform: translate(0, -2px);
            box-shadow: 2px 5px #ccc;
        }
    }

    &__grid-empty-element {
        grid-area: newsletter__grid-empty-element;
    }

    &__input-btn {
        font-size: 1.6rem;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        border-radius: 5px;
    }


}