<div class="banner-author">
    <div class="banner-author__wrapper">
        <div class="banner-author__container-image">
            <img class="banner-author__image" src="{{ bannerAuthorImage }}" alt="{{ bannerAuthorImageAlt }}" />
        </div>
        <div class="banner-author__container-content">
            <h4 class="banner-author__title h3">{{ bannerAuthorTitle }}</h4>
            <p class="banner-author__description p">{{ bannerAuthorDescription|raw }}</p>
        </div>
    </div>
</div>