{% block index %}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
    <h1>Qualcosa è andato storto</h1>
    <h2>Errore {{ status_code }}</h2>
    <h3>www.marcovaleri.net</h3>
    <p>
    Sembra che qualcosa sia andato storto, sentiti libero di tornare alla <a href="{{ path('app_home') }}">HomePage</a> 
    o di <a href="{{ path('app_contact') }}">contattare il nostro staff</a>
    </p>
{% endblock %}