{% extends "base.html.twig" %}

{% block title %}
    <title>Marco Valeri Ebook Vivere a Londra</title>
{% endblock %}

{% block description %}
    <meta name"Description" CONTENT="Contatti del sito di Marco Valeri, form con email e messaggio per mettersi in contatto e scrivere all'autore tramite il seguente form dedicato ai contatti" >
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://www.marcovaleri.net/page/contatti">
{% endblock %}

{% block body %}
    <div class="ebook">
        <div class="ebook__container-title">
            <h2 class="ebook__title h1">Ebook: Vivere a Londra nel 2024: guida per trasferirsi</h2>
            <h3 class="h4">Vivi la vita che hai sempre voluto in una delle città più importanti e ricca di opportunità nel mondo, Londra.</h3>
        </div>
        <div class="ebook__container-content">
            <p class="ebook__p p">Vivere a Londra nel 2024 è più difficile ma non impossibile.</p>
            <p class="ebook__p p">Le menti più eccelse della storia dell’umanità sono passati per le sue strade lasciando una traccia indelebile.</p>
            <p class="ebook__p p">In questo 2024, Londra continua ad essere una città ricca di opportunità per chi vuole cambiare vita, fare un’esperienza di vita all’estero, intraprendere un percorso di studi o progredire nella propria carriera lavorativa.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="ebook__p p">Sono arrivato in questa città nel 2015, dopo tutti questi anni di esperienza posso dirti che Londra ha davvero tanto da offrire ma non è per tutti.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="ebook__p p">Se stai pensando di trasferirti a vivere nella capitale Inglese,</p>
            <p class="ebook__p p">se hai voglia di metterti in gioco in un nuovo ambiente,</p>
            <p class="ebook__p p">di inseguire una tua ambizione di vita in una città che offre tantissime opportunità,</p>
            <p class="ebook__p p">questa nuova guida dal titolo <strong>Vivere a Londra nel 2024: guida per trasferirsi</strong> è quello che stai cercando.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="ebook__p p">Al suo interno troverai tutte le informazioni necessarie per trasferirti e vivere la città al meglio.</p>
            <p class="ebook__p p">Ma non è tutto.</p>
            <p class="ebook__p p">La cosa più importante che troverai all’interno di questa guida è cosa Londra ha realmente da offrirti, potrai così capire se veramente puoi realizzarti come persona in questa grande metropoli.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="ebook__p p">Ho visto davvero tante, troppe persone, arrivare da queste parti con la folle idea di <em>“tanto all’estero tutto funziona meglio”</em>.</p>
            <p class="ebook__p p">Più del 90% di queste ultime sono ritornate a vivere nel loro paese di origine o si sono spinte verso altre destinazioni.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="ebook__p p">Per esperienza diretta, posso dirti che Londra ha tanto da dare a chi sa capirla e stare ai suoi ritmi.</p>
            <p class="ebook__p p">In questa nuova guida dal titolo <strong>Vivere a Londra nel 2024: guida per trasferirsi</strong>, troverai tutte le informazioni necessarie per capire se veramente è giunto il momento di partire o meno.</p>
            <p class="ebook__p p">Se sei pronto a volare fino da queste parti, grazie alla mia guida troverai un elenco di informazioni importante ed aggiornate al 2024 per poter muoverti al meglio all’interno di questa metropoli multiculturale.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="ebook__p p">Lo scopo di questa guida è farti partire se veramente è quello che vuoi, così come avere successo nella tua professione, o ambizione di vita, nella città di Londra.</p>
            <p class="ebook__p p">Trasferirsi a vivere all’estero informati è l’unico modo per farlo con successo.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h4 class="h2">Contenuti della nuova guida</h4>
            <ol class="ebook__menu-list">
                <li class="ebook__menu-item"><p class="ebook__p p">Introduzione</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Vivere a Londra nel 2024</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Vivere a Londra pro e contro</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Perché proprio Londra?</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Trasferirsi a Londra: c’è un’età giusta per farlo?</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Posso trasferirmi a Londra senza sapere l’Inglese?</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Da dove devo cominciare?</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Documenti per andare a vivere a Londra</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Come trovare lavoro a Londra</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Quanto costa vivere a Londra nel 2024</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Come trovare casa a Londra</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Quartieri di Londra: dove vivere?</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Il medico di base e il sistema sanitario</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Studiare a Londra</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Le scuole a Londra</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">I sussidi che ti spettano</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Le tasse in Inghilterra</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Come portare a Londra il cane o il gatto</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Vivere a Londra dopo la Brexit: come sono cambiare veramente le cose?</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Dove studiare inglese a Londra</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Vivere tra Londra e l'Italia</p></li>
                <li class="ebook__menu-item"><p class="ebook__p p">Finale: vivi Londra pienamente</p></li>
            </ol>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="ebook__p p"><strong>Vivere a Londra nel 2024: guida per trasferirsi</strong> verrà venduta a partire dai primi mesi di questo anno.</p>
            <p class="ebook__p p">Se vuoi rimanere aggiornato sulla sua pubblicazione, iscriviti alla mia newsletter in modo da ricevere un'email prima della sua pubblicazione.</p>
        </div>
        <div class="ebook__container-sell">
            <a href="/page/newsletter">
                <button class="button button__black">Newsletter</button>
            </a>
        </div>
    </div>
{% endblock %}